body {
    width: 100%;
    height: 100%;
    background: rgba(139, 153, 175, 1) url('../images/bg_grid_main.png') repeat;
    font-family:  'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.50;
    color: rgba(39, 159, 198, 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
* LOGIN/SIGNUP
*/
.pen-title {
    padding: 50px 0;
    text-align: center;
    letter-spacing: 2px;
}
.pen-title h1 {
    margin: 0 0 20px;
    font-size: 48px;
    font-weight: 300;
}
.pen-title span {
    font-size: 12px;
}
.pen-title span .fa {
    color: #33b5e5;
}
.pen-title span a {
    color: #33b5e5;
    font-weight: 600;
    text-decoration: none;
}

/* Form Module */
.form-module, .form-module-wider {
    height: auto;
    background: #ffffff;
    max-width: 320px;
    width: 100%;
    position: relative;
    padding: .25em;
    border-top: 5px solid #33b5e5;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    margin: 0 auto;
}
.form-module-wider{
    max-width: 450px;    
}
.extended{
    max-width: 650px;
}
.extended-wide{
    max-width: 850px;
}
.form-module .toggle,
.form-module-wider .toggle {
    cursor: pointer;
    position: absolute;
    top: -0;
    right: -0;
    background: #33b5e5;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.form-module .form,
.form-module-wider .form {
    display: none;
    padding: 40px;
}
.form-module .form:nth-child(2),
.form-module-wider .form:nth-child(2) {
    display: block;
}
.form-module h2,
.form-module-wider h2 {
    margin: 0 0 20px;
    color: #33b5e5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}
.form-module input,
.form-module-wider input  {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-wieght: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.form-module input:focus,
.form-module-wider input:focus {
    border: 1px solid #33b5e5;
    color: #333333;
}
textarea{
    outline: none;
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-wieght: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    resize: none;
}
textarea:focus{
    border: 1px solid #33b5e5;
    color: #333333;
}
button.main_button,
button.inverse_main,
button.inverse_main_small {
    cursor: pointer;
    display: block;
    background: #33b5e5;
    width: 80%;
    max-width: 150px;
    border: 0;
    padding: .5em;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    margin: .25em auto;
}
button.main_button:hover {
    background: #178ab4;
}

button.inverse_main,
button.inverse_main_small {
    background: #33b5e5;
    border: 1px solid #ffffff;
}
button.inverse_main:hover,
button.inverse_main_small:hover {
    background: #ffffff;
    border: 1px solid #33b5e5;
    color: #33b5e5;
}
button.inverse_main:disabled {
    background: rgba(51, 181, 229, .5);
}
button.inverse_main_small{
    padding: .05em;
    max-width: 100px;
    margin-top: 1em;
    display: block;
}

button.condensed-like,
button.condensed-like-disabled{
    padding: .20em;   
    max-width: 50px; 
}
button.condensed-like:hover{
    color: #e02504;
    border: 1px solid #e02504;
}
.small-notif{
    font-size: .85em;
}

.notification-container{
    width: 80%;
    color: #ffffff;
    font-weight: bold;
    background-color: none;
    height: auto;
    margin: .25em auto;
    text-align: center;
    border: none;
    padding: .5em;
}

.success-container{
    background-color: rgba(17, 198, 45, .75);
}
.failure-container{
    background-color: rgba(168, 8, 45, .75); 
}

.table{
    display: table;
    border-collapse: collapse;
    width: 80%;
    padding: .25em;
    height: 20px;
    vertical-align: center;
    border: none;
    margin: .25em auto;
}
.table td:first-child {
    text-align: center;
}
.table td:nth-child(2) {
    padding-left: 1em;
}
.table-bordered td{
    border: 1px solid rgba(51, 181, 229, .15);
}


/*
* GLOBAL LAYOUT
*/
a:hover{
    text-decoration: none;
}
.container, .container-blank{
    height: auto;
    width: 80%;
    background: #ffffff;
    padding: .25em;
    border-top: 5px solid #33b5e5;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    margin: 1em auto;
    margin-top: 5em;
    padding: 1em;
}
.container-blank{
    background: none; 
    box-shadow: none;
    border: none;  
}


span.notif,
span.notif-borderless{
    text-align: center;
    margin: .1em auto;
    display: block;
    border-top: 1px dashed #33b5e5;
    border-bottom: 1px dashed #33b5e5;
}
span.notif-borderless{
    border: none;
}

.thumbnail-image{
    max-width: 100px;
    border: 1px dashed #33b5e5;
    border-radius: 15%;
    display: block;
    text-align: center;
    margin: .5em auto;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.new-post,
.posts-list{
    width: 75%;
    margin: 1em auto;
}
.post-container,
.post-private,
.post-container-unbordered{
    border: 1px dashed #33b5e5;
    width: 100%;
    height: auto;
    margin: 2em auto;
    padding: .5em;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}
.post-private{
    background-color: rgba(168, 179, 196, .15);
}
.post-container-unbordered{
    border: none;
}
.new-comment,
.comments-list{
    width: 85%;
    margin: 1em auto;
}
.comment-container{
    border: none;
    width: 100%;
    height: auto;
    margin: 2em auto;
    padding: .5em;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}

h1.main-header{
    font-size: 5em;
    font-weight: bold;
}

.fa-big{
    font-size: 1.25em;
}

.expand{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;   
}

p.user_stats{
    font-size: 1.15em;
    line-height: 1.15em;
    margin: .5em auto;
}

@media only screen and (min-width: 991px) {

    .right-border{
       border-right: 1px dashed #33b5e5; 
    }

    .posts-section{
        border-left: 5px dashed #33b5e5;
    }
}

@media only screen and (max-width: 992px) {

    .right-border{
       border-bottom: 1px dashed #33b5e5; 
    }

    .posts-section{
        border-top: 5px dashed #33b5e5;
    }

    .table{
        width: 50%;
    }
}